.Card {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 1);
    transition: transform .3s ease;
    cursor: pointer;
}

.Card:hover{
    transform: scale(1.1);
}

.CardTitle{
    font-weight: 600;
    font-size: 1.2rem;
}

.CardImage {
    display: flex;
    justify-content: flex-end;
}
.CardImage img{
    border-radius: 50%;
}

.Location{
    margin: 1rem 0;
}
.Location p {
    margin: 0;
}